
@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";


* {
  font-family: "Inter", sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;      
  box-shadow: none !important;  
  border-color: inherit !important; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}

label {
  font-size: 14px;
}


.hero-headline {
  letter-spacing: -9.12px;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: Inter, sans-serif;
  font-size: 145.5px;
  font-weight: 700;
  line-height: 144px;
}

.hero-headline-block {
  inset: 495px 22% auto;
}

.drawer {
  transition: all, transform 400ms !important;
  transform: translateY(0px) translateX(0px) !important;
  border-width: 1px;
  border-color: black;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: none;
  border-right-style: none;
}

.footer-link {
  font-size: 14px !important;
  color: #b3b3b3 !important;
}

.select-input {
  color: gray;
  letter-spacing: -0.16px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("https://img.icons8.com/?size=100&id=40021&format=png&color=000000");
  background-position: 97%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-attachment: scroll;
  border-color: #d1d6d4;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 150%;
}



/* max-width: 991px */
@media screen and (max-width: 991px) {
  .hero-headline-block {
    top: 389px !important;
    left: 12px;
  }
  .hero-headline {
    letter-spacing: -4.5px;
    font-size: 52px;
    line-height: 52px;
  }
  .ayush-img {
    width: 290px;
    height: 290px;
  }
  .ayush-img-about {
    width: 338px;
    height: 338px;
  }
  nav {
    padding: 20px 0px !important;
  }
}

/* max-width: 767px */
@media screen and (max-width: 767px) {
  .hero-headline-block {
    top: 849px !important;
    left: 165px;
  }
  .hero-headline {
    text-align: center;
    letter-spacing: -3px;
    white-space: normal;
    font-size: 63px;
    line-height: 55px;
  }
  .contact-headline-block {
    margin-bottom: 80px !important;
  }
  #chat {
    margin-top: 16px !important;
  }
  .ayush-img {
    width: 500px;
    height: 500px;
  }
  .ayush-img-about {
    width: 400px;
    height: 400px;
  }
  nav {
    padding: 20px 0px !important;
  }
}

/* max-width: 600px */
@media screen and (max-width: 600px) {
  .hero-headline-block {
    top: 812px;
    left: 120px;
  }
  .skill-text {
    padding: 30px 0 0 0 !important;
    text-align: center;
  }
  .contact-headline-block {
    margin-bottom: 80px !important;
  }
}

/* max-width: 479px */
@media screen and (max-width: 479px) {
  .design,
  .gmail {
    font-size: 12px !important;
  }
  nav {
    padding: 20px 0px !important;
  }
  .hero-headline-block {
    top: 579px !important;
    left: 120px;
  }
  .ayush-img,
  .ayush-img-about {
    width: 290px !important;
    height: 290px !important;
  }
  .contact-headline-block {
    margin-bottom: 80px !important;
  }
  .skill-text {
    padding: 30px 0 0 0 !important;
    text-align: center;
  }
  .footer-headline{
    font-size: 40px !important;
    }
}

/* max-width: 412px */
@media screen and (max-width: 412px) {
  .design,
  .gmail {
    font-size: 12px !important;
  }
  nav {
    padding: 20px 0px !important;
  }
  .hero-headline-block {
    top: 599px !important;
    left: 80px !important;
  }
  .ayush-img,
  .ayush-img-about {
    width: 290px !important;
    height: 290px !important;
  }
  .contact-headline-block {
    margin-bottom: 80px !important;
  }
  .skill-text {
    padding: 30px 0 0 0 !important;
    text-align: center;
  }
  .footer-headline{
    font-size: 40px !important;
    }
}



/* 768px */
@media (max-width: 768px) and (min-width: 768px) {
  .hero-headline-block {
    top: 431px;
  }
  .contact-headline-block {
    margin-bottom: 80px !important;
  }
}

/* 992px */
@media (max-width: 992px) and (min-width: 992px) {
  .hero-headline-block {
    top: 557px;
    left: 12px;
  }
  .hero-headline {
    letter-spacing: -4.5px;
    font-size: 52px;
    line-height: 52px;
  }
}

/*1024px */
@media (max-width: 1024px) and (min-width: 1024px) {
  .hero-headline-block {
    top: 479px;
    left: 25%;
  }
  .hero-headline {
    letter-spacing: -4.5px;
    font-size: 86px;
    line-height: 52px;
  }
  #chat {
    margin-top: -50px !important;
    margin-left: 60px !important;
  }
}
