@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";

*{
  font-family: "Inter",sans-serif;
}




input:focus,
select:focus,
textarea:focus {
  outline: none !important;   /* removes blue outline */
  box-shadow: none !important; /* removes extra shadow */
  border-color: inherit !important; /* keeps whatever border color you applied */
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important; /* keeps the text color as normal */
    transition: background-color 5000s ease-in-out 0s; /* prevents flash of default color */
}
label{
  font-size: 14px;
}
.hero-headline{
  
    letter-spacing: -9.12px;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-size: 145.5px;
    font-weight: 700;
    line-height: 144px;
}

.hero-headline-block
{
  inset: 521px 25% 0 ;
}
@media screen and (max-width:991px) {
  .hero-headline-block{
    top: 557px;
    left: 12px;
  }
  .hero-headline{
    letter-spacing: -4.5px;
        font-size: 52px;
        line-height: 52px;
  }
}

@media screen and (max-width:767px) {
  .hero-headline-block{
    top: 871px;
    left: 160px;
  }
  .hero-headline{
    text-align: center;
        letter-spacing: -3px;
        white-space: normal;
        font-size: 63px;
        line-height: 55px;
    
  }
  .skill-text{
    padding-block: 3rem;
  }
  
}
@media screen and (max-width:479px) {
  .hero-headline-block{
    top: 800px !important;
    left: 120px;
  }
  .skill-text{
    padding-block: 3rem;
  }
} 
@media screen and (max-width:600px) {
  .hero-headline-block{
    top: 850px;
    left: 120px;
  }
  .skill-text{
    padding-block: 3rem;
    text-align: center;
  }

}
@media screen and (max-width: 412px) {
  #home{
    width: 100%;
  
  }
  #nav{
    width: 100%;
  }
  .hero-headline-block{
    top: 730px !important;
    left: 85px;
  }
  .skill-text{
    margin-block: 3rem !important;
  }
} 
@media screen and (max-width: 414px) {
  #home{
    width: 100%;
  
  }
  #nav{
    width: 100%;
  }
  .hero-headline-block{
    top: 730px !important;
    left: 85px;
  }
  .skill-text{
    margin-block: 3rem !important;
  }
} 
@media screen and (max-width: 430px) {
  #home{
    width: 100%;
  
  }
  #nav{
    width: 100%;
  }
  .hero-headline-block{
    top: 730px !important;
    left: 85px;
  }
  .skill-text{
    margin-top: 3rem !important;
    padding-block: 0 !important;
  }
} 
@media (min-width:300px) and (max-width: 410px) {
  #home{
    width: 100%;
  
  }
  #nav{
    width: 100%;
  }
  .hero-headline-block{
    top: 640px !important;
    left: 85px;
  }
  .skill-text{
    margin-block: 1rem !important;
    padding-block: 0 !important;
    text-align: center;
  }
} 
span{
  font-size: 12px !important;
}

.drawer{
  transition: all, transform 400ms !important;
    transform: translateY(0px) translateX(0px) !important;
    border-width: 1px;
    border-color: black;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-style: none;
}
@media (max-width:768px) and (min-width:768px) {
  .hero-headline-block{
    top:431px;
  }
}


@media (max-width:992px) and (min-width:992px) {
  .hero-headline-block{
    top: 557px;
    left: 12px;
  }
  .hero-headline{
    letter-spacing: -4.5px;
        font-size: 52px;
        line-height: 52px;
  }
}

@media (max-width:1024px) and (min-width:1024px) {
  .hero-headline-block{
    top: 479px;
    left: 25%;
    
  }
  .hero-headline{
    letter-spacing: -4.5px;
        font-size: 86px;
        line-height: 52px;
  }
  #chat{
   margin-top: -50px !important;
   margin-left: 60px !important;
    }
  }

